<h1>Call A Girl</h1>



    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>
YOU ARE ABOUT TO BE DIRECTED TO A SITE THAT CONTAINS MATURE CONTENT USERS MUST BE OVER 18 YEARS OLD AND COMPLY WITH ALL LAWS AND THIS NOTICE<br>

Further more this site may at times contain information, content, features, language, opinions, information, suggestions, pictures, products, services and references and other matters which are suitable only for persons over 18. Therefore this website, and any part of it, is only available to those who are over 18 years of age.<br>

By continuing to the next page or visiting, using, viewing the whole or any part of it or having any involvement whatsoever with this website you are confirming that you are over 18 and will not misuse the website in any way and continue to use this site in accordance with and compliance with all elements of the law.<br>

If you are under 18 years of age or do not agree to be bound or abide by this notice then you are not authorized to or visit, use, view the whole or any part of it or have any involvement whatsoever with this website and must leave the website immediately. We reserve the right to take action against those who do not.</p><br>

            <p id="quit">
              <%= link_to "Leave this page", "http://www.google.com" %>

            </p>
        </header>

        <hr>
    </div>